---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    
    <br>
      
    <p class="post-description2">{{ page.description2 }}</p>
  </header>

  <article>
      
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
    </div>
    {% endif %}

<p class="post-address2">{{ page.address2 }}</p>
<p class="post-address3">{{ page.address3 }}</p>
<p class="post-address4">{{ page.address4 }}</p>

      <br>
      
      <br>
      
    <div class="clearfix">
      {{ content }}
    </div>  
      
  </article>


    
</div>